<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bienvenidxs a MercadoLiebre</title>
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<header>

    <img src="images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
    <div class="form" action="#" method="GET">
        <form action="/searchBar" method="POST" >
        <input type="text" name="searchBar" required placeholder="Buscar productos, marcas y más" class="searchBar">
        <button class="submit"><i class="fa fa-search"></i></div>
        </form>
        
    </div>
    <section1><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito.</section1>
<nav>
    <ul>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
        <li><a href="/registro">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
        <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
        <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
        <div  class="burger-menu" >
            <i class="fas fa-bars"></i>
            </div>
            
    </ul>
</nav>
</header>  

<section class="banner">
    <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
</section>

<main>
    <section>
       <h3>Basado en tu última visita</h3>
       <div class="products">
    <article class="article">
        <img src="images/img-cafetera-moulinex.jpg" alt="Imagen cafetera moulinex">
        <div class="main-article">
        <p class="price">$6.770</p>
        <p class="discount">40% OFF</p>
        <h4 class="description">Cafetera Moulinex</h4></div>
    </article>
    <article class="article">
        <img src="images/img-macbook-pro-2019.jpg" alt="Imagen de la macbook pro 2019">
        <div class="main-article">
        <p class="price">$230.000</p>
        <p class="discount">20% OFF</p>
        <h4 class="description">MacBook Pro 2019</h4></div>
    </article>
    <article class="article">
        <img src="images/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung Galaxy s-10">
        <div class="main-article">
        <p class="price">$70.500</p>
        <p class="discount">10% OFF</p>
        <h4 class="description">Samsung Galaxy S10</h4></div>
    </article>
    <article class="article">
        <img src="images/img-tv-samsung-smart.jpg" alt="Imagen del Smart TV">
        <div class="main-article">
        <p class="price">$23.200</p>
        <p class="discount">5% OFF</p>
        <h4 class="description">SmartTv Samsung 43"</h4></div>
    </article>
       </div>
</section>
<section>
      <div class="offers">
     <h1>Sección de Ofertas</h1>
     <article class="article">
        <img src="images/img-cafetera-moulinex.jpg" alt="Imagen cafetera moulinex">
        <div class="main-article">
        <p class="price">$6.770</p>
        <p class="discount">40% OFF</p>
        <h4 class="description">Cafetera Moulinex</h4></div>
    </article>
    <article class="article">
        <img src="images/img-macbook-pro-2019.jpg" alt="Imagen de la macbook pro 2019">
        <div class="main-article">
        <p class="price">$230.000</p>
        <p class="discount">20% OFF</p>
        <h4 class="description">MacBook Pro 2019</h4></div>
    </article>
    <article class="article">
        <img src="images/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung Galaxy s-10">
        <div class="main-article">
        <p class="price">$70.500</p>
        <p class="discount">10% OFF</p>
        <h4 class="description">Samsung Galaxy S10</h4></div>
    </article>
    <article class="article">
        <img src="images/img-tv-samsung-smart.jpg" alt="Imagen del Smart TV">
        <div class="main-article">
        <p class="price">$23.200</p>
        <p class="discount">5% OFF</p>
        <h4 class="description">SmartTv Samsung 43"</h4></div>
    </article>
</div>

</section>


</main></body>

<footer>
<section>
<i class="fas fa-credit-card"></i>
<h3>Pagá con tarjeta o en efectivo</h3>
<i>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
    puntos de pago. ¡Y siempre es seguro!</i>
</section>
<section>
    <i class="fas fa-gift"></i>
    <h3>Envío gratis desde $ 2.500</h3>
    <i>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</i>
</section>
<section>
    <i class="fas fa-user-shield"></i>
    <h3>Seguridad, de principio a fin</h3>
    <i>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.
    </i>
</section>
<section>
    <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
</section>
</footer>
</html>