<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Regístrese</title>
        <link href="css/styles.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

<header>
<section>
    <img src="images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
    <div class="form" action="#" method="GET">
        <form action="/searchBar" method="POST" >
        <input type="text" name="searchBar" required placeholder="Buscar productos, marcas y más" class="searchBar">
        <button class="submitButtonSearchbar"><i class="fa fa-search"></i></div>
        </form>
        
    </div>
</section>
    <section1><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito.</section1>
<nav>
    <ul>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
        <li><a href="/registro">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
        <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
        <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
    </ul>   
        <div  class="burger-menu" >
            <i class="fas fa-bars"></i>
            </div>
            
    
</nav>
</header>  


<body class="registerBody">
    <h3>Registrate</h3>
<form action="/registro" method="POST" class="registerForm">
    <h3>Ingrese sus datos</h3>
<input type="text" name="Nombre y apellido" required placeholder="Nombre y apellido">
<span class="feedback">Este campo del formulario presenta errores.</span>
<input type="text" name="Nombre de usuario" required placeholder="Nombre de usuario">
<span class="feedback">Este campo del formulario presenta errores.</span>
<h3>Ingrese su fecha de nacimiento</h3>
<input type="date" name="Fecha de nacimiento" required placeholder="Fecha de nacimiento">
<input type="text" name="Domicilio" required placeholder="Domicilio">
<span class="feedback">Este campo del formulario presenta errores.</span>
<h3>Perfil del usuario</h3>
<label for="perfilDelUsuario">Vendedor</label>
    <input type="checkbox" name="perfilDelUsuario" value="vendedor">
    <label for="perfilDelUsuario">Comprador</label>
    <input type="checkbox" name="perfilDelUsuario" value="Comprador">
<h3>Seleccione sus intereses:</h3>
    <label for="intereses">Electro</label>
    <input type="checkbox" name="intereses" value="Electro">
    <label for="intereses">Moda</label>
    <input type="checkbox" name="intereses" value="Moda">
    <label for="intereses">Hogar</label>
    <input type="checkbox" name="intereses" value="Hogar">
    <label for="intereses">Juguetería</label>
    <input type="checkbox" name="intereses" value="Juguetería">
    <label for="intereses">Vida sana</label>
    <input type="checkbox" name="intereses" value="Vida sana">
</select>
<h3>Suba su foto</h3>
<input type="file" name="avatar" accept= ".jpg, .png" required placeholder="Ingrese su foto">
<span class="feedback">Este campo del formulario presenta errores.</span>
<input type="password" name="Contraseña" required placeholder="Contraseña">
<span class="feedback">Este campo del formulario presenta errores.</span>
<input type="password" name="Confirmar contraseña" required placeholder="Confirme su contraseña">
<span class="feedback">Este campo del formulario presenta errores.</span>
<button type="submit" name="enviar" class="submitButton"> Enviar</button>
<button type="reset" name="borrar" class="resetButton">Borrar</button>
</form>
</body>
<footer>
    <section>
<div>
<i class="fas fa-credit-card"></i>
<h3>Pagá con tarjeta o en efectivo</h3>
<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
    puntos de pago. ¡Y siempre es seguro!</p>
</div>
<div>
    <i class="fas fa-gift"></i>
    <h3>Envío gratis desde $ 2.500</h3>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    </div>
<div>
    <i class="fas fa-user-shield"></i>
    <h3>Seguridad, de principio a fin</h3>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.
    </p>
</div>
</section>
<div>
    <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
</div>
</footer>

</html>